<%- include("partials/header.ejs") %>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label for="composeTitleText">Title</label>
    <input type="text" class="form-control" name="composeTitleText" value="">
  </div>
  <div class="form-group">
    <label for="composePostText">Post</label>
    <textarea class="form-control" rows="5" cols="60" name="composePostText" placeholder=""></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer.ejs") %>
